<div id="section" class="container-fluid d-flex flex-column justify-content-between w-100">

  <div class="row">
    <div class="col-sm-12 p-0">
      <app-nav></app-nav>
    </div>
  </div>

  <div>
    <h3 class="text-center bg-white shadow rounded p-2" translate>Business Advice and Legal Issues</h3>

    <div class="row justify-content-center">

      <div class="col-sm-6 col-md-5 col-xl-4 shadow rounded bg-white p-4 m-2">
        <h5 class="text-center" translate>We will help to understand:</h5>
        <ul>
          <li translate>
            Migration registration issues
          </li>
          <li translate>
            In the form of business ownership
          </li>
          <li translate>
            In order to check contractors, suppliers and customers
          </li>
          <li translate>
            In choosing a tax system
          </li>
          <li translate>
            In matters of personnel records
          </li>
          <li translate>
            In the Software necessary for reporting
          </li>
          <li translate>
            Choosing a bank, acquiring and payment systems
          </li>
          <li translate>
            Other issues
          </li>
        </ul>
        <hr>
      </div>

      <div class="col-sm-6 col-md-5 col-xl-4 shadow rounded bg-white p-4 slower m-2">
        <h5 class="text-center" translate>Legal Issues</h5>
        <p translate>We represent the interests of companies in state bodies of Russia and in the judicial system.</p>
        <p translate>We also conduct negotiations with Russian financial institutions, as well as with foreign financial
          institutions that operate in the Russian Federation.</p>
        <hr>
      </div>

    </div>
  </div>


  <app-footer></app-footer>

</div>


