<div id="section" class="container-fluid d-flex flex-column w-100">

  <div class="row">
    <div class="col-sm-12 p-0">
      <app-nav></app-nav>
    </div>
  </div>

  <div>
    <h3 class="text-center shadow rounded bg-white p-2" translate>Company Formation</h3>

    <div class="row justify-content-center" style="margin-bottom: 1rem">

      <div class="col-sm-5 col-md-5 col-xl-3 shadow rounded bg-white p-4 m-2">
        <h5 class="text-center" translate>Business Registration</h5>
        <p translate>LLC - 1500 EUR (other type of ownership on request).</p>
        <p translate>You get:</p>
        <ul>
          <li translate>
            Package of documents of state registration
          </li>
          <li translate>
            An agreement with the Pension Fund
          </li>
          <li translate>
            Bank account - RUR, EUR, USD
          </li>
          <li translate>
            Translation of documents
          </li>
          <li translate>
            Stamp
          </li>
        </ul>
        <hr>
      </div>

      <div class="col-sm-5 col-md-5 col-xl-3 shadow rounded bg-white p-4 m-2">
        <h5 class="text-center" translate>Business Liquidation</h5>
        <p translate>From 1000 EUR</p>
        <p translate>Liquidation in Russia is a laborious and time-consuming process,
          an accurate assessment requires a detailed review of the situation.</p>
        <p translate>Details on request</p>
        <hr>
      </div>

      <div class="col-sm-5 col-md-5 col-xl-3 shadow rounded bg-white p-4 m-2">
        <h5 class="text-center" translate>Annual Maintenance</h5>
        <p translate>On the territory of Russia as a whole, the anti-money laundering systems
          and controls system operates. Also, the state strictly refers to the correct
          design of addresses and top officials of companies.</p>
        <ul>
          <li translate>
            Office rent - from 1,000 EUR per year
          </li>
          <li translate>
            Director services - from 300 EUR per month
          </li>
        </ul>
        <hr>
      </div>
    </div>
  </div>

</div>
