<div id="section" class="container-fluid d-flex flex-column justify-content-between w-100">

  <div class="row">
    <div class="col-sm-12 p-0">
      <app-nav></app-nav>
    </div>
  </div>

  <div class="row justify-content-center" style="margin-bottom: 1rem">

    <div class="col-sm-8">
      <h3 class="text-center bg-white p-2 rounded shadow">Russian Consulting Advisory</h3>
    </div>

    <div class="col-sm-4 shadow bg-white p-4 rounded">
      <h5 translate>Our mission</h5>
      <p translate>Creating a healthy business environment.
        Search for optimal solutions.
        Harmonious, cultural and modern approach to business.
        Maximize the use of modern business and legal achievements.</p>
      <hr>
    </div>

    <div class="col-sm-4 shadow bg-white p-4 rounded">
      <h5 translate>Who we are</h5>
      <p translate>Our headquarters is located in Russia, St. Petersburg.
        Our connections are worldwide. We are interested in your business being reliable, stable and profitable.</p>
      <hr>
    </div>

  </div>


  <app-footer></app-footer>
</div>



