<div id="section" class="container-fluid d-flex flex-column w-100">

  <div class="row">
    <div class="col-sm-12 p-0">
      <app-nav></app-nav>
    </div>
  </div>

  <div>
    <h3 class="text-center bg-white shadow rounded p-2" translate>Contacts</h3>

    <div class="row justify-content-center">

      <div class="col-sm-6 d-flex text-center shadow rounded bg-white p-4 slower m-2">
        <div class="col-sm-4">
          <h5>Telegram</h5>
          <a href="https://t.me/RCA_info"><img src="../../img/telegram.png" class="img-fluid m-1"
                                               style="max-width: 3rem"
                                               alt="Telegram"></a>
        </div>

        <div class="col-sm-4">
          <h5>Whatsapp</h5>
          <a href="https://wa.me/79319698891"><img src="../../img/whatsapp.png" class="img-fluid m-1"
                                                   style="max-width: 3rem"
                                                   alt="Whatsapp"></a>
        </div> 

        <div class="col-sm-4">
          <h5>WeChat</h5>
          <a href="https://web.wechat.com/?lang=en_US/wxid_o7dq8fd2kak622"><img src="../../img/wechat.png"
                                                                                class="img-fluid m-1"
                                                                                style="max-width: 3rem"
                                                                                alt="WeChat"></a>
        </div>

        <hr>
      </div>

    </div>
  </div>

</div>
