<div id="section" class="container-fluid d-flex flex-column w-100">

  <div class="row">
    <div class="col-sm-12 p-0">
      <app-nav></app-nav>
    </div>
  </div>

  <div>
    <h3 class="text-center bg-white shadow rounded p-2" translate>Payroll</h3>

    <div class="row justify-content-center" style="margin-bottom: 1rem">

      <div class="col-sm-8 text-center shadow rounded bg-white p-4 m-2">
        <p translate>In Russia, salary taxes are: health insurance, pension contributions, social insurance fund.</p>
        <p translate>For non-residents there are special personnel accounting rules.</p>
        <h5 class="mt-5" translate>Implementation of personnel records and reporting to state bodies.</h5>
        <h5 translate>Companies up to 10 people</h5>
        <p translate>150 EUR per month.</p>
        <h5 translate>Companies from 10 people</h5>
        <p translate>Consider each time individually.</p>
        <hr>
      </div>

    </div>
  </div>

</div>
