<nav class="navbar navbar-expand-xl navbar-light bg-light shadow">
  <a class="navbar-brand" routerLink="/">Russian Consulting Advisory</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link border-bottom" routerLink="/company_formation" routerLinkActive="active" translate>Company
        Formation</a>
      <a class="nav-item nav-link border-bottom" routerLink="/accounting" routerLinkActive="active"
         translate>Accounting</a>
      <a class="nav-item nav-link border-bottom" routerLink="/payroll" routerLinkActive="active" translate>Payroll</a>
      <a class="nav-item nav-link border-bottom disabled" routerLinkActive="active" translate>Marketing Services
        (soon)</a>
      <a class="nav-item nav-link border-bottom" routerLink="/business_advice_and_legal_issues"
         routerLinkActive="active" translate>Business Advices</a>
    </div>
  </div>
</nav>
