<div id="section" class="container-fluid d-flex flex-column justify-content-between w-100">

  <div class="row">
    <div class="col-sm-12 p-0">
      <app-nav></app-nav>
    </div>
  </div>

  <div>
    <h3 class="text-center bg-white shadow rounded p-2" translate>Accounting and Tax
      Filling</h3>

    <div class="row justify-content-center" style="margin-bottom: 1rem">

      <div class="col-sm-5 col-md-5 col-xl-3 shadow rounded bg-white p-4 m-2">
        <h5 class="text-center" translate>Advantages of accounting and book-keeping services</h5>
        <ul>
          <li translate>
            Getting to know the company’s financial position regularly
          </li>
          <li translate>
            Early revealing of the company’s crises and assisting on seeking solution
          </li>
          <li translate>
            Maintaining a clear and systematic system for the company
          </li>
          <li translate>
            Prevention of misappropriation of the company’s assets
          </li>
        </ul>
        <hr>
      </div>

      <div class="col-sm-5 col-md-5 col-xl-3 shadow rounded bg-white p-4 m-2">
        <h5 class="text-center" translate>Annual Maintenance</h5>
        <ul>
          <li translate>
            Accounting IFRS - from 100 EUR/quarter
          </li>
          <li translate>
            Accounting Russian standards - from 100 EUR/quarter
          </li>
          <li translate>
            Accounting Russian standards + IFRS - from 150 EURO/quarter
          </li>
          <li translate>
            Tax filling - from 50 EURO/paper
          </li>
        </ul>
        <hr>
      </div>

      <div class="col-sm-5 col-md-5 col-xl-3 shadow rounded bg-white p-4 m-2">
        <h5 class="text-center" translate>What we do</h5>
        <ul>
          <li translate>
            Computerized accounting records for permanent storage
          </li>
          <li translate>
            Prepare General Ledger, Cash account, Bank account, Account receivable and Accounts Payable
          </li>
          <li translate>
            Preparation of financial statement including Balance Sheet and Income Statement
          </li>
        </ul>
        <hr>
      </div>
    </div>

  </div>

  <app-footer></app-footer>

</div>

